body {
  padding: 0;
  box-sizing: border-box;
  background-color: #00B588;
  font-family: 'Open Sans', sans-serif; }

/* Scroll Personalizado */
body::-webkit-scrollbar {
  width: 10px;
  background: #045843; }

body::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  border-right: 1px solid #045843; }

button {
  cursor: pointer;
  border-radius: 10px 10px 10px 10px;
  border: 0;
  color: white;
  font-size: 16pt;
  font-weight: lighter;
  width: 250px;
  height: 50px;
  background: #435869; }

img, .logo {
  cursor: pointer; }

input {
  border: 1px solid #777777;
  border-radius: 4px 4px 4px 4px; }

hr {
  color: #777777;
  width: 370px; }

.header {
  background-color: white;
  padding: 25px 0px 25px 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1; }
  .header .logo {
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 27.06pt;
    color: #00B588;
    text-align: left;
    margin-left: 20px; }
  .header .botones {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 350px;
    margin-right: 20px; }
    .header .botones #btn1 {
      margin-right: 12.5px; }
    .header .botones #btn2 {
      background: #00B588;
      margin-left: 12.5px;
      width: 120px; }
    .header .botones #btn1:hover, .header .botones #btn2:hover {
      background: gray;
      color: white; }

.cuerpo {
  display: flex;
  justify-content: space-around;
  flex-grow: 1; }
  .cuerpo #part1 {
    display: flex;
    flex-direction: column;
    margin: 110px 0px 70px 0px;
    width: auto;
    height: 370px;
    color: white; }
    .cuerpo #part1 #parrafo1 {
      font-size: 44pt;
      font-weight: bold;
      flex-grow: 1;
      margin: 0px 0px 0px 0px;
      width: auto; }
    .cuerpo #part1 #parrafo2 {
      font-weight: lighter;
      font-size: 28.5pt;
      opacity: 0.5;
      flex-grow: 2;
      width: auto; }
    .cuerpo #part1 #btn3:hover {
      color: white;
      background: gray; }
  .cuerpo #part2 {
    display: flex;
    flex-direction: column;
    width: 440px;
    height: 600px;
    background: #F5F5F5;
    margin: 70px 0px 0px 0px; }
    .cuerpo #part2 .iconos {
      display: flex;
      flex-direction: row;
      width: auto;
      height: auto;
      margin: 0;
      padding: 0; }
      .cuerpo #part2 .iconos div {
        height: 115px;
        width: auto; }
        .cuerpo #part2 .iconos div#caja1 {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          flex: 1; }
          .cuerpo #part2 .iconos div#caja1 #ima4 {
            height: 20px;
            width: auto;
            flex-grow: 0 1; }
          .cuerpo #part2 .iconos div#caja1 #CARRO {
            position: relative;
            font-weight: bold;
            font-size: 10pt;
            color: #455C6A;
            top: 8px;
            flex-grow: 0 1; }
        .cuerpo #part2 .iconos div#caja2 {
          background: #435869;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          flex: 1; }
          .cuerpo #part2 .iconos div#caja2 #ima5 {
            height: 20px;
            width: auto;
            flex-grow: 0 1; }
          .cuerpo #part2 .iconos div#caja2 #CASA {
            position: relative;
            font-weight: bold;
            font-size: 10pt;
            color: #F5F5F5;
            top: 8px;
            flex-grow: 0 1; }
        .cuerpo #part2 .iconos div#caja3 {
          background: #435869;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          flex: 1; }
          .cuerpo #part2 .iconos div#caja3 #ima6 {
            height: 20px;
            width: auto;
            flex-grow: 0 1; }
          .cuerpo #part2 .iconos div#caja3 #UNIVERSIDAD {
            position: relative;
            font-weight: bold;
            font-size: 10pt;
            color: #F5F5F5;
            top: 8px;
            flex-grow: 0 1; }
        .cuerpo #part2 .iconos div#caja4 {
          background: #435869;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          flex: 1; }
          .cuerpo #part2 .iconos div#caja4 #ima7 {
            height: 20px;
            width: auto;
            flex-grow: 0 1; }
          .cuerpo #part2 .iconos div#caja4 #OTRO {
            position: relative;
            font-weight: bold;
            font-size: 10pt;
            color: #F5F5F5;
            top: 8px;
            flex-grow: 0 1; }
    .cuerpo #part2 .datos {
      display: flex;
      flex-direction: column;
      flex-grow: 2;
      height: auto;
      width: auto; }
      .cuerpo #part2 .datos .cantidad {
        display: flex;
        flex-direction: column;
        width: auto;
        height: 85px; }
        .cuerpo #part2 .datos .cantidad #cantidad {
          font-weight: lighter;
          font-size: 12pt;
          color: #777777;
          position: relative;
          top: 20px;
          left: 25px;
          width: 100px; }
        .cuerpo #part2 .datos .cantidad #text1 {
          height: 35px;
          width: auto;
          font-weight: lighter;
          font-size: 12pt;
          color: #777777;
          position: relative;
          top: 25px;
          margin-left: 25px;
          margin-right: 25px; }
      .cuerpo #part2 .datos .mesess {
        display: flex;
        flex-direction: row;
        width: auto;
        height: 85px; }
        .cuerpo #part2 .datos .mesess .meses {
          display: flex;
          flex-direction: column;
          flex: 1;
          width: auto;
          height: auto; }
          .cuerpo #part2 .datos .mesess .meses #meses {
            font-weight: lighter;
            font-size: 12pt;
            color: #777777;
            position: relative;
            top: 20px;
            left: 25px; }
          .cuerpo #part2 .datos .mesess .meses #text2 {
            height: 35px;
            width: 70px;
            font-weight: lighter;
            font-size: 12pt;
            color: #777777;
            position: relative;
            top: 25px;
            left: 25px; }
        .cuerpo #part2 .datos .mesess .interes_Mensual {
          display: flex;
          flex: 2.8;
          flex-direction: column;
          width: auto;
          height: auto; }
          .cuerpo #part2 .datos .mesess .interes_Mensual #interes_Mensual {
            font-weight: lighter;
            font-size: 12pt;
            color: #777777;
            position: relative;
            top: 20px;
            left: 0px;
            width: 169px; }
          .cuerpo #part2 .datos .mesess .interes_Mensual #text3 {
            height: 35px;
            width: 90px;
            font-weight: lighter;
            font-size: 12pt;
            color: #777777;
            position: relative;
            top: 25px;
            right: 0px; }
      .cuerpo #part2 .datos .pagos {
        display: flex;
        flex-direction: row;
        width: auto;
        height: 65px;
        margin: 0px 27px; }
        .cuerpo #part2 .datos .pagos .cuota, .cuerpo #part2 .datos .pagos .interes_A_Pagar, .cuerpo #part2 .datos .pagos .total_A_Pagar {
          display: flex;
          flex-direction: column;
          width: auto;
          height: auto;
          justify-content: center;
          align-items: center; }
          .cuerpo #part2 .datos .pagos .cuota #p1, .cuerpo #part2 .datos .pagos .interes_A_Pagar #p1, .cuerpo #part2 .datos .pagos .total_A_Pagar #p1 {
            color: #C8C8C8;
            font-size: 11pt;
            font-weight: bolder; }
          .cuerpo #part2 .datos .pagos .cuota #p2, .cuerpo #part2 .datos .pagos .interes_A_Pagar #p2, .cuerpo #part2 .datos .pagos .total_A_Pagar #p2 {
            color: #119E76;
            font-size: 18pt;
            font-weight: bold; }
        .cuerpo #part2 .datos .pagos .cuota {
          flex: 1; }
        .cuerpo #part2 .datos .pagos .interes_A_Pagar {
          flex: 2; }
        .cuerpo #part2 .datos .pagos .total_A_Pagar {
          flex: 1.5; }
      .cuerpo #part2 .datos .p3 {
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-grow: 3; }
        .cuerpo #part2 .datos .p3 #parrafo8 {
          color: #8D8D8D;
          font-size: 13pt;
          font-weight: lighter;
          margin-top: 10px;
          text-align: center; }
        .cuerpo #part2 .datos .p3 #btn5 {
          margin-top: 50px; }
        .cuerpo #part2 .datos .p3 #btn5:hover {
          background: gray;
          color: white; }

.cuerpo2 {
  background-color: white;
  height: auto;
  width: auto;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  text-align: center; }
  .cuerpo2 #parrafo3 {
    color: #00B588;
    font-weight: bold;
    font-size: 36pt;
    margin-top: 50px; }
  .cuerpo2 #parrafo4 {
    color: gray;
    font-weight: lighter;
    font-size: 23.5pt;
    opacity: 0.5; }
  .cuerpo2 div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    margin-top: 50px; }

.cuerpo3 {
  display: flex;
  background-color: #f8f8f8;
  flex-grow: 1; }
  .cuerpo3 #part3 {
    display: flex;
    margin: 0px 0px 0px 0px;
    padding: 130px 30px 100px 0px;
    width: auto;
    height: auto; }
    .cuerpo3 #part3 #parrafoBajo {
      font-weight: bold;
      font-size: 36pt;
      color: #00B588;
      margin: -12px 7%; }
    .cuerpo3 #part3 #parrafoBajo2 {
      font-weight: lighter;
      font-size: 16.3pt;
      color: gray;
      padding-top: 5px;
      padding-right: 70px;
      padding-bottom: 10px;
      padding-left: 60px;
      opacity: 0.7; }
    .cuerpo3 #part3 #btn4 {
      margin: 20px 0px 0px 60px; }

/*.footer {
    background-color: green;
    padding: 25px 0px 25px 0px;
}*/
/*-------------------------------Adaptable------------------------------*/
@media all and (max-width: 1085px) {
  .cuerpo {
    flex-wrap: wrap; }
    .cuerpo #part1 {
      margin: 90px 0px 0px 0px; }
    .cuerpo #part2 {
      margin: 50px 0px 0px 0px;
      display: flex;
      flex-direction: column;
      width: 400px;
      height: 560px; } }
@media all and (max-width: 950px) {
  .cuerpo #part1 {
    margin: 110px 0px 0px 0px;
    height: 270px; }
    .cuerpo #part1 #parrafo1 {
      flex-grow: 0;
      font-size: 34pt; }
    .cuerpo #part1 #parrafo2 {
      font-size: 18.5pt;
      flex-grow: 0; }
    .cuerpo #part1 #btn3 {
      font-size: 14pt;
      height: 40px;
      width: 200px; }
  .cuerpo #part2 {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 500px; }
    .cuerpo #part2 .datos {
      display: flex;
      flex-direction: column;
      flex-grow: 2;
      height: auto;
      width: auto; }
      .cuerpo #part2 .datos .cantidad {
        height: 70px; }
        .cuerpo #part2 .datos .cantidad #cantidad {
          font-size: 10pt; }
        .cuerpo #part2 .datos .cantidad #text1 {
          height: 25px;
          font-size: 10pt; }
      .cuerpo #part2 .datos .mesess {
        height: 70px; }
        .cuerpo #part2 .datos .mesess .meses {
          display: flex;
          flex-direction: column;
          flex: 1.3;
          height: auto; }
          .cuerpo #part2 .datos .mesess .meses #meses {
            font-size: 10pt;
            top: 10px; }
          .cuerpo #part2 .datos .mesess .meses #text2 {
            height: 25px;
            font-size: 10pt;
            top: 15px;
            width: 60px; }
        .cuerpo #part2 .datos .mesess .interes_Mensual #interes_Mensual {
          font-size: 10pt;
          top: 10px;
          width: 149px; }
        .cuerpo #part2 .datos .mesess .interes_Mensual #text3 {
          height: 25px;
          width: 90px;
          font-size: 10pt;
          top: 15px;
          left: 0px; }
      .cuerpo #part2 .datos hr {
        width: 240px; }
      .cuerpo #part2 .datos .pagos .cuota #p1, .cuerpo #part2 .datos .pagos .interes_A_Pagar #p1, .cuerpo #part2 .datos .pagos .total_A_Pagar #p1 {
        font-size: 7pt; }
      .cuerpo #part2 .datos .pagos .cuota #p2, .cuerpo #part2 .datos .pagos .interes_A_Pagar #p2, .cuerpo #part2 .datos .pagos .total_A_Pagar #p2 {
        font-size: 14pt; }
      .cuerpo #part2 .datos .pagos .cuota {
        flex: 1; }
      .cuerpo #part2 .datos .pagos .interes_A_Pagar {
        flex: 2; }
      .cuerpo #part2 .datos .pagos .total_A_Pagar {
        flex: 1.5; }
      .cuerpo #part2 .datos .p3 #parrafo8 {
        font-size: 10pt;
        margin-top: 5px; }
      .cuerpo #part2 .datos .p3 #btn5 {
        height: 40px;
        font-size: 14pt;
        margin-top: 25px;
        width: 200px; }

  .cuerpo2 #parrafo3 {
    font-size: 30pt; }
  .cuerpo2 #parrafo4 {
    font-size: 17.5pt; }
  .cuerpo2 img {
    height: auto;
    width: 500px; } }
@media all and (max-width: 650px) {
  .header {
    display: flex;
    justify-content: center; }
    .header .logo {
      display: flex;
      justify-content: center;
      flex-grow: 1;
      margin: 0px; }
    .header .botones {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      flex-grow: 1;
      margin-right: 0px; }
      .header .botones #btn1, .header .botones #btn2 {
        margin: 0px;
        flex-grow: 1; }

  .cuerpo #part1 {
    margin: 50px 0px 0px 5px;
    width: auto;
    height: 180px; }
    .cuerpo #part1 #parrafo1 {
      font-size: 24pt; }
    .cuerpo #part1 #parrafo2 {
      font-size: 15pt; }
    .cuerpo #part1 #btn3 {
      font-size: 10pt;
      height: auto;
      width: 140px; }

  .cuerpo2 #parrafo3 {
    font-size: 28pt; }
  .cuerpo2 #parrafo4 {
    font-size: 15.5pt; }
  .cuerpo2 img {
    height: auto;
    width: 450px; } }
@media all and (max-width: 535px) {
  .cuerpo2 #parrafo3 {
    font-size: 16pt; }
  .cuerpo2 #parrafo4 {
    font-size: 10.5pt; }
  .cuerpo2 img {
    height: auto;
    width: 300px; } }

/*# sourceMappingURL=Home.css.map */
